In [17]:
import pandas as pd
import numpy as np
from sklearn import datasets, linear_model, metrics
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn import preprocessing
from sklearn.linear_model import LinearRegression
from matplotlib import pyplot
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso

In [18]:
df = pd.read_csv('prediction_df.csv')

df

,Unnamed: 0,YEAR,MONTH_NAME,EVENT_TYPE,DAMAGE_PROPERTY,COUNTY/STATE
0,0,2013,3,68,0.0,1614
1,1,2013,2,23,0.0,1614
2,2,2013,7,23,0.0,1614
3,3,2013,10,47,3000.0,1614
4,4,2013,3,23,0.0,1614
...,...,...,...,...,...,...
608742,608742,2006,10,20,65000.0,3485
608743,608743,2006,10,20,50000.0,2384
608744,608744,2006,10,20,5000.0,6115
608745,608745,2006,10,20,80000.0,3485
608746,608746,2006,10,20,10000.0,29

In [19]:
X = df.drop('DAMAGE_PROPERTY',axis=1)
y = df['DAMAGE_PROPERTY']

In [20]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.20)

In [21]:
model_randomforestregressor = RandomForestRegressor(random_state=0)
model_randomforestregressor.fit(X_train, y_train)
predict_randomforestregressor = model_randomforestregressor.predict(X_test)
error = np.sqrt(mean_squared_error(y_test,predict_randomforestregressor))
print("${:,.02f}".format(error))

$29,521,622.46

In [22]:
rr = Ridge()
rr.fit(X_train, y_train) 
predict_modelrr= rr.predict(X_test)
error = np.sqrt(mean_squared_error(y_test,predict_modelrr))
print("${:,.02f}".format(error))

$24,932,692.52

In [23]:
model_lasso = Lasso()
model_lasso.fit(X_train, y_train)
predict_lasso = model_lasso.predict(X_test)
error = np.sqrt(mean_squared_error(y_test,predict_lasso))
print("${:,.02f}".format(error))

$24,932,692.52