In [23]:
import pandas as pd
import numpy as np
from sklearn import datasets, linear_model, metrics
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn import preprocessing
from sklearn.linear_model import LinearRegression
from matplotlib import pyplot
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso

In [24]:
df = pd.read_csv('StormEvents_Combined.csv')

df

,Unnamed: 0,STATE,YEAR,MONTH_NAME,EVENT_TYPE,COUNTY_NAME,COUNTY_TIMEZONE,DAMAGE_PROPERTY,DAMAGE_CROPS
0,0,NEW HAMPSHIRE,2013,February,Winter Weather,EASTERN HILLSBOROUGH,EST-5,0.0,0.0
1,1,NEW HAMPSHIRE,2013,December,Heavy Snow,EASTERN HILLSBOROUGH,EST-5,0.0,0.0
2,2,NEW HAMPSHIRE,2013,March,Heavy Snow,EASTERN HILLSBOROUGH,EST-5,0.0,0.0
3,3,NEW HAMPSHIRE,2013,October,Strong Wind,EASTERN HILLSBOROUGH,EST-5,3000.0,0.0
4,4,NEW HAMPSHIRE,2013,February,Heavy Snow,EASTERN HILLSBOROUGH,EST-5,0.0,0.0
...,...,...,...,...,...,...,...,...,...
608742,56395,IOWA,2006,October,Hail,MITCHELL,CST-6,65000.0,80000.0
608743,56396,IOWA,2006,October,Hail,HOWARD,CST-6,50000.0,75000.0
608744,56397,IOWA,2006,October,Hail,WINNESHIEK,CST-6,5000.0,10000.0
608745,56398,IOWA,2006,October,Hail,MITCHELL,CST-6,80000.0,100000.0
608746,56399,WISCONSIN,2006,October,Hail,ADAMS,CST-6,10000.0,20000.0

In [25]:
df2 = df.drop(['Unnamed: 0'],axis=1)

df2

,STATE,YEAR,MONTH_NAME,EVENT_TYPE,COUNTY_NAME,COUNTY_TIMEZONE,DAMAGE_PROPERTY,DAMAGE_CROPS
0,NEW HAMPSHIRE,2013,February,Winter Weather,EASTERN HILLSBOROUGH,EST-5,0.0,0.0
1,NEW HAMPSHIRE,2013,December,Heavy Snow,EASTERN HILLSBOROUGH,EST-5,0.0,0.0
2,NEW HAMPSHIRE,2013,March,Heavy Snow,EASTERN HILLSBOROUGH,EST-5,0.0,0.0
3,NEW HAMPSHIRE,2013,October,Strong Wind,EASTERN HILLSBOROUGH,EST-5,3000.0,0.0
4,NEW HAMPSHIRE,2013,February,Heavy Snow,EASTERN HILLSBOROUGH,EST-5,0.0,0.0
...,...,...,...,...,...,...,...,...
608742,IOWA,2006,October,Hail,MITCHELL,CST-6,65000.0,80000.0
608743,IOWA,2006,October,Hail,HOWARD,CST-6,50000.0,75000.0
608744,IOWA,2006,October,Hail,WINNESHIEK,CST-6,5000.0,10000.0
608745,IOWA,2006,October,Hail,MITCHELL,CST-6,80000.0,100000.0
608746,WISCONSIN,2006,October,Hail,ADAMS,CST-6,10000.0,20000.0

In [26]:
state_encoder = preprocessing.LabelEncoder()
df2['STATE']= state_encoder.fit_transform(df2['STATE'])
df2['STATE'].unique()
event_encoder = preprocessing.LabelEncoder()
df2['EVENT_TYPE']= event_encoder.fit_transform(df2['EVENT_TYPE'])
df2['EVENT_TYPE'].unique()
month_encoder  = preprocessing.LabelEncoder()
df2['MONTH_NAME']= month_encoder.fit_transform(df2['MONTH_NAME'])
df2['MONTH_NAME'].unique()
county_encoder = preprocessing.LabelEncoder()
df2['COUNTY_NAME']= county_encoder.fit_transform(df2['COUNTY_NAME'])
df2['COUNTY_NAME'].unique()
df3 = df2.drop(['COUNTY_TIMEZONE','DAMAGE_CROPS','COUNTY_NAME'],axis=1)
df3

        STATE  YEAR  MONTH_NAME  EVENT_TYPE  DAMAGE_PROPERTY
0          43  2013           3          68              0.0
1          43  2013           2          23              0.0
2          43  2013           7          23              0.0
3          43  2013          10          47           3000.0
4          43  2013           3          23              0.0
...       ...   ...         ...         ...              ...
608742     23  2006          10          20          65000.0
608743     23  2006          10          20          50000.0
608744     23  2006          10          20           5000.0
608745     23  2006          10          20          80000.0
608746     66  2006          10          20          10000.0

[608747 rows x 5 columns]

In [27]:
X = df3.drop('DAMAGE_PROPERTY',axis=1)
y = df3['DAMAGE_PROPERTY']

In [28]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.20)

In [29]:
model_randomforestregressor = RandomForestRegressor(random_state=0)
model_randomforestregressor.fit(X_train, y_train)
predict_randomforestregressor = model_randomforestregressor.predict(X_test)
error = np.sqrt(mean_squared_error(y_test,predict_randomforestregressor))
print("${:,.02f}".format(error))

$35,265,290.77

In [32]:
rr = Ridge()
rr.fit(X_train, y_train) 
predict_modelrr= rr.predict(X_test)
error = np.sqrt(mean_squared_error(y_test,predict_modelrr))
print("${:,.02f}".format(error))

$29,178,952.89

In [33]:
model_lasso = Lasso()
model_lasso.fit(X_train, y_train)
predict_lasso = model_lasso.predict(X_test)
error = np.sqrt(mean_squared_error(y_test,predict_lasso))
print("${:,.02f}".format(error))

$29,178,952.89